<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Clubs Table</title>
</head>
<body>
    <h1>Clubs Table</h1>
    <div>
        {% with messages = get_flashed_messages()%}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif%}
        {%endwith%}
    </div>
    <div>
        {% if clubs %}
            <table>
                <thead>
                    <tr>
                        <th>Club</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for club in clubs %}
                    <tr>
                        <td>{{ club['name'] }}</td>
                        <td>{{ club['points'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif%}
    </div>
    <div>
        <a href="/">Back to login page</a>
    </div>
</body>
</html>